.owners {
    display: flex;
    justify-content: space-between;
}

.icon--owner {
    width: 50px;
    height: 50px;
}

.card {
    width: 10em;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}